html {
  font-family: Helvetica;
  text-align: center;
}

h2 {
  font-size: 23px;
  font-weight: bold;
}

h3 {
  font-size: 32px;
  font-weight: bold;
}

h4 {
  font-size: 23px;
  font-weight: bold;
}

.title {
  font-size: 70px;
  font-weight: bold;
}

.nav-button {
  font-size: 18px;
  color: white;
}

#navigation {
  font-size: 18px;
}

#header {
  color: white;
}

#header {
  background-image: url("./images/the-flatiron-building.png");
  background-size: auto;
  background-position: top;
  height: auto;
  }

  .footer {
    background-color: dimgray;
    color: white;
    text-align: left;
  }

#copy_right {
  font-size: 11px;
}
